.rst-content .section .admonition p:last-child { margin-bottom: 0 !important }

.rst-content .section ol li a img { margin-bottom: 20px }

.rst-content .section ol li p a img { margin-bottom: 0px !important }

.rst-content .section ul { margin-top: 20px }

.rst-content .section ul:last-child { margin-bottom: 20px }

.sphinx-tabs .container { 
    width: initial;
    margin-right: initial;
    margin-left: initial;
}

.sphinx-tabs .sphinx-menu {
    padding-left: initial;
    padding-right: initial;
}

.toggle .header {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

.toggle .header:after {
    content: " ▶";
}

.toggle .header.open:after {
    content: " ▼";
}

.wy-nav-content {
    max-width: 1000px;
}

@font-face {
    font-family: 'montserratregular';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

b, strong {
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn  {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: .375rem 0rem !important;
}

.btn-link:visited {color: #9B59B6 !important }

.rst-content code {
  font-family: "Source";
  font-size: 90%;
}

.rst-content div[class^='highlight'] pre {
    font-family: "Source";
    font-size: 90%;
}

.ui.menu { font-family: 'IBM Plex Sans', sans-serif; }

body {
    font-family: 'IBM Plex Sans', sans-serif;
} 

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
} 

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h4 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h5 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h7 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h8 {
    font-family: 'IBM Plex Sans', sans-serif;
}