.rst-content .section ol li p:last-child, .rst-content .section ul li p:last-child { margin-bottom: 20px !important }

.rst-content .section .admonition p:last-child { margin-bottom: 0 !important }

.rst-content .section ol li a img { margin-bottom: 20px }

.rst-content .section ol li p a img { margin-bottom: 0px !important }

@font-face {
    font-family: 'montserratregular';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('https://docs.insolar.io/en/latest/_static/css/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

b, strong {
  font-family: 'montserratmedium'
}

.rst-content code {
  font-family: "Source";
  font-size: 100%;
}

.rst-content div[class^='highlight'] pre {
    font-family: "Source";
    font-size: 90%;
}

body {
    font-family: "montserratregular", sans-serif
} 

h1 {
    font-family: "montserratmedium", sans-serif
} 

h2 {
    font-family: "montserratmedium", sans-serif
}

h3 {
    font-family: "montserratmedium", sans-serif
}

h4 {
    font-family: "montserratmedium", sans-serif
}

h5 {
    font-family: "montserratmedium", sans-serif
}

h6 {
    font-family: "montserratmedium", sans-serif
}

h7 {
    font-family: "montserratmedium", sans-serif
}

h8 {
    font-family: "montserratmedium", sans-serif
}